<a href="https://colab.research.google.com/github/SteelworkerDB/CD_WEEK3/blob/main/Ejercicio_Altura_Promedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#**EJERCICIO ALTURA PROMEDIO**

---

In [28]:
import pandas as pd
filename='/content/athleteEventsNoPersonal.csv'
oli_df=pd.read_csv(filename)

In [29]:
#VISUALIZACION DEL ENCABEZADO
oli_df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN


<br />
<h2> 1. Exploración de datos </h2>
<hr>
<ul type=none>
  <li>a. ¿Cuántas filas hay?</li>
</ul>

In [30]:
print("El numero de filas es", oli_df.shape[0])
# pandas.shape obtiene una lista de dos elementos con el
# numero de indices o filas y el numero de col.

El numero de filas es 40616

<ul type=none>
  <li>b. ¿Cuántas columnas hay?</li>
</ul>

In [31]:
print("El numero de filas es", oli_df.shape[1])
# pandas.shape devuelve una lista, el segundo elemento
#es el numero de columnas.

El numero de filas es 12

<ul type=none>
  <li>c. ¿A qué columnas le faltan datos?</li>
</ul>

In [32]:
oli_df.isna().sum()
#ISNA DEVUELVE TRUE CUANDO UN VALOR ES NAN.
#SE CUENTA CON .SUM()
#DEVUELVE CADA COLUMNA CON SU NUMERO
#DE VALORES VACIOS

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

<ul type=none>
  <li><i>Faltan tantos datos en la columna de medallas, porque muy pocos del total obtuvieron una.</i></li>
</ul>

<ul type=none>
  <li>d. ¿Cuántas entradas corresponden a la ciudad de Londres?</li>
</ul>

In [36]:
filtro_londres=oli_df['City']=='London'
lond_count=oli_df[filtro_londres]['ID'].count()
print('Corresponden a Londres este numero de entradas: ', lond_count)

Corresponden a Londres este numero de entradas:  3370

<ul type=none>
  <li>e. ¿Cuántos años tiene el atleta más joven en nuestros datos de muestra?</li>
</ul>

In [40]:
masjoven=oli_df['Age'].min()
print('El/La atleta mas joven tiene ', int(masjoven), 'años')

El/La atleta mas joven tiene  11 años

<br />
<h2> 2. Crear Filtros </h2>
<hr>
<ul type=none>
  <li>a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?</li>
</ul>

In [44]:
#Grabo filtro en variable tug_swe
tug_swe=(oli_df['Sport']=='Tug-Of-War') &( oli_df['Team']=='Sweden')

atl_tug_swe=oli_df[tug_swe]['ID'].count()
print(atl_tug_swe, 'atletas de Sweden participaron en Tug-Of-War')

6 atletas de Sweden participaron en Tug-Of-War

<ul type=none>
  <li>b. ¿Cuántas medallas de oro se le entregaron a los atletas que tenían más de 40 años?</li>
</ul>

In [48]:
#Grabo filtro en variable medal_40
#Utilizo la negacion ~ de la funcion booleana isna()
medal_40=~(oli_df['Medal'].isna()) & ( oli_df['Age']>=40)

count_medal_40=oli_df[medal_40]['ID'].count()
print(count_medal_40, 'atletas de mas de 40 ganaron medalla')

207 atletas de mas de 40 ganaron medalla

<br />
<h2> 3. Determinar la altura promedio </h2>
<hr>
<ul type=none>
  <li>a. Todas las filas incluidas.</li>
</ul>

In [57]:
# Se elimina de la columna Height todos los valores
# nulos, guardo en una Serie

altura_sin_na=oli_df['Height'].dropna()

#Se utiliza la funcion mean() sobre todas las filas
#de la Serie

altura_prom=altura_sin_na.mean()
print('Altura promedio de los atletas es: ', altura_prom.round(2))

Altura promedio de los atletas es:  175.38

<ul type=none>
  <li> b. Todas las filas incluidas, pero agrupadas por Event </li>
</ul>

In [61]:
#En este caso es mejor eliminar los valores
#en otro dataframe

oli_df_alt=oli_df.dropna(subset='Height') #Ref: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

#Del dataframe se agrupa por Event, y se obtiene el promedio usando mean sobre
#el objeto groupby de la columna Height,
#se redondea a 2 decimales

oli_df_alt.groupby('Event')['Height'].mean().round(2).reset_index()

                                              Event  Height
0                      Alpine Skiing Men's Combined  178.55
1                      Alpine Skiing Men's Downhill  178.21
2                  Alpine Skiing Men's Giant Slalom  176.74
3                        Alpine Skiing Men's Slalom  176.48
4                       Alpine Skiing Men's Super G  179.85
..                                              ...     ...
570          Wrestling Women's Flyweight, Freestyle  158.10
571        Wrestling Women's Heavyweight, Freestyle  173.44
572  Wrestling Women's Light-Heavyweight, Freestyle  170.00
573        Wrestling Women's Lightweight, Freestyle  162.67
574       Wrestling Women's Middleweight, Freestyle  164.53

[575 rows x 2 columns]

<ul type=none>
  <li> BONO: Para la tarea del bono queremos que obtengan la altura promedio de todos los atletas, pero sin incluir algún atleta más de una vez.  </li>
</ul>

In [62]:
#Creo dataframe sin duplicados en columna ID, mantengo primer valor
oli_atleta_unico= oli_df.drop_duplicates(subset = 'ID', keep = 'first')

oli_atleta_unico=oli_atleta_unico.dropna(subset='Height') #Elimino valores NA

#Se obtiene el promedio sin contar dos veces al mismo atleta:
altura_prom_sindup=oli_atleta_unico['Height'].mean()
print('Altura promedio de todas las filas sin duplicar atleta es :' )
print(altura_prom_sindup.round(2))

Altura promedio de todas las filas sin duplicar atleta es :
176.32